.error{
    margin-top: 150px;
}
.no-decoration{
    text-decoration: none;
}
.error button{
    background-color: #f70202;
    border: #fb0404;
}
.errorImg{
    width: 15%;
    height: 15%;
    margin-bottom: 20px;
}