#home-section{
    background: url(../../assets/bannerBg.jpg) no-repeat center top; background-size: cover;
    background-attachment: fixed;
    min-height: 720px;
}
    
    #home-section    .dark-overlay{
        background: rgba(0,0,0,0.2);
        min-height: 720px;
    }
 
    #home-section    .card-form{
        opacity: 0.8;
    }
    #home-section    .home-inner{
        padding-top: 200px;
        padding-bottom: 50px;
    }